
EPNG-ApiCommon/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
EPNG-ApiCommon/obj/Debug/netcoreapp3.1/EPNG-ApiCommon.AssemblyInfo.cs
EPNG-ApiCommon/obj/Debug/netcoreapp3.1/EPNG-ApiCommon.AssemblyInfoInputs.cache
EPNG-ApiCommon/obj/Debug/netcoreapp3.1/EPNG-ApiCommon.assets.cache
EPNG-ApiCommon/obj/Debug/netcoreapp3.1/EPNG-ApiCommon.csprojAssemblyReference.cache
EPNG-ApiCommon/obj/EPNG-ApiCommon.csproj.nuget.dgspec.json
EPNG-ApiCommon/obj/EPNG-ApiCommon.csproj.nuget.g.props
EPNG-ApiCommon/obj/EPNG-ApiCommon.csproj.nuget.g.targets
EPNG-ApiCommon/obj/project.assets.json
EPNG-ApiCommon/obj/project.nuget.cache
.vs/EPNG-ApiCommon/v16/.suo
.vs/EPNG-ApiCommon/DesignTimeBuild/.dtbcache.v2
EPNG-ApiCommon/bin/Debug/netcoreapp3.1/EPNG-ApiCommon.deps.json
EPNG-ApiCommon/obj/Debug/netcoreapp3.1/EPNG-ApiCommon.csproj.FileListAbsolute.txt
EPNG-ApiCommon.DataAccess/obj/EPNG-ApiCommon.DataAccess.csproj.nuget.g.targets
EPNG-ApiCommon.DataAccess/obj/EPNG-ApiCommon.DataAccess.csproj.nuget.g.props
EPNG-ApiCommon.DataAccess/obj/EPNG-ApiCommon.DataAccess.csproj.nuget.dgspec.json
EPNG-ApiCommon.DataAccess/obj/Debug/netcoreapp3.1/EPNG-ApiCommon.DataAccess.csprojAssemblyReference.cache
EPNG-ApiCommon.DataAccess/obj/Debug/netcoreapp3.1/EPNG-ApiCommon.DataAccess.assets.cache
EPNG-ApiCommon.DataAccess/obj/Debug/netcoreapp3.1/EPNG-ApiCommon.DataAccess.AssemblyInfoInputs.cache
EPNG-ApiCommon.DataAccess/obj/Debug/netcoreapp3.1/EPNG-ApiCommon.DataAccess.AssemblyInfo.cs
EPNG-ApiCommon.DataAccess/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
EPNG-ApiCommon.Service/obj/EPNG-ApiCommon.Service.csproj.nuget.g.targets
EPNG-ApiCommon.Service/obj/EPNG-ApiCommon.Service.csproj.nuget.g.props
EPNG-ApiCommon.Service/obj/EPNG-ApiCommon.Service.csproj.nuget.dgspec.json
EPNG-ApiCommon.Service/obj/Debug/netcoreapp3.1/EPNG-ApiCommon.Service.csprojAssemblyReference.cache
EPNG-ApiCommon.Service/obj/Debug/netcoreapp3.1/EPNG-ApiCommon.Service.assets.cache
EPNG-ApiCommon.Service/obj/Debug/netcoreapp3.1/EPNG-ApiCommon.Service.AssemblyInfoInputs.cache
EPNG-ApiCommon.Service/obj/Debug/netcoreapp3.1/EPNG-ApiCommon.Service.AssemblyInfo.cs
EPNG-ApiCommon.Service/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
*.cache
